<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>d:\tmp\darempredou.${timeByDay}.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss-SSS} [%thread] [%level] [%contextName] [%X] [%logger{10}.%method] | %message%n</pattern>
        </encoder>
   </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>